---
import navAPI from "~/data/nav_api.json";
import navWebSocket from "~/data/nav_websocket.json";

const { title, id } = Astro.props;

const isAPI = id.startsWith("api");
const isWebSocket = id.startsWith("websocket");
---

<section
  {id}
  class="flex flex-row justify-center items-start gap-4 scroll-mt-24"
>
  {
    isAPI && (
      <div class="justify-start mt-36 pl-2 pr-4 border-r-2 text-start">
        {navAPI.map(({ title, url }) => (
          <a
            href={url}
            class="flex flex-col mt-2 mb-2 pt-2 pb-2 pl-2 pr-2 text-sm font-medium"
            style={`color: ${
              Astro.url.pathname === url ? "var(--color-secondary)" : "inherit"
            }`}
          >
            {title}
          </a>
        ))}
      </div>
    )
  }
  {
    isWebSocket && (
      <div class="justify-start mt-36 pl-2 pr-4 border-r-2 text-start">
        {navWebSocket.map(({ title, url }) => (
          <a
            href={url}
            class="flex flex-col mt-2 mb-2 pt-2 pb-2 pl-2 pr-2 text-sm font-medium"
            style={`color: ${
              Astro.url.pathname === url ? "var(--color-secondary)" : "inherit"
            }`}
          >
            {title}
          </a>
        ))}
      </div>
    )
  }
  <div class="flex flex-col grow max-w-6xl items-center gap-4">
    <div class="flex flex-col items-center gap-4">
      <slot name="eyebrow" />
      <h2
        class="text-6xl font-extrabold tracking-tight text-center gradient-text"
      >
        {title}
      </h2>
    </div>
    <p class="max-w-xl text-2xl font-extrabold text-center">
      <slot name="lead" />
    </p>
    <article class="w-full">
      <slot />
    </article>
  </div>
</section>
