---
import { generateImage } from "astro-eleventy-img";
import HeroImage from "~/components/hero-image.astro";

const widths = [450, 800];
const sizes = "(min-width: 620px) 38vw, 64vw";

const { webp, avif, png } = generateImage("src/assets/logo.svg", {
  widths,
  formats: ["webp", "avif", "png"],
  outputDir: "public/assets/images/logo",
  urlPath: "/assets/images/logo",
});

const avifSrcset = avif.map(({ srcset }) => srcset).join(",");
const webpSrcset = webp.map(({ srcset }) => srcset).join(",");
const pngSrcset = png.map(({ srcset }) => srcset).join(",");
---

<section class="relative h-full bg-violet-900">
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative grid h-full sm:grid-cols-2 place-items-center gap-8">
    <picture
      class="self-end w-2/3 max-w-3xl sm:w-10/12 sm:self-auto sm:justify-self-end drop-shadow-xl hover:drop-shadow-2xl"
    >
      <source type="image/avif" srcset={avifSrcset} {sizes} />
      <source type="image/webp" srcset={webpSrcset} {sizes} />
      <source type="image/png" srcset={pngSrcset} {sizes} />
      <img
        class="object-cover w-full h-full"
        src={png[0].url}
        width={png[0].width}
        height={png[0].height}
        alt="System Bridge logo"
      />
    </picture>
    <h2
      class="flex flex-col self-start gap-2 sm:gap-4 sm:self-auto sm:justify-self-start"
    >
      <div
        class="font-extrabold tracking-tighter text-center text-8xl drop-shadow-xl hover:drop-shadow-2xl"
      >
        A bridge for
        <br />
        your systems.
      </div>
    </h2>
  </div>
</section>

<!-- https://github.com/withastro/compiler/issues/395 -->
<!-- <noscript>
  <style>
    #splash-bg-fallback {
      @apply block;
    }
  </style>
</noscript> -->

<style>
  @media (prefers-reduced-motion: reduce) {
    picture {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
